<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Background Remover</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Upload Image to Remove Background</h1>
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="file" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary">Remove Background</button>
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="mt-4">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
    </div>
</body>
</html>
